@charset "utf-8";
@import url(./common.css);

/* 헤더 */
    #headerWrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #F20;
        box-shadow: 0 2px 50px #00000030;
        z-index: 100;
    }
    #header {
        margin: 0 auto;
        width: 1200px;
        height: 80px;
        display: flex;
        justify-content: right;
    }
    #header h1 {
        position: absolute;
        top: 0;
        left: 20px;
        width: 168px;
        height: 80px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background: url(../images/top_logo_light.png) no-repeat;
    }
    #header h1 a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-indent: 100%;
        line-height: 100px;
    }

/* GNB */
    #gnb {
        position: relative;
        width: 778px;
        margin: 0 auto;
    }
    #gnbList {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    #gnbList > li {
        position: relative;
        text-transform: uppercase;
    }
    #gnbList > li > a {
        font-family: 'GmarketSansMedium';
        /* display: block; */
        /* line-height: 80px; */
        font-weight: 300;
        line-height: 80px;
        font-size: 14px;
        padding: 10px 0;
    }

/* LNB */
    .lnb {
        display: none;
        position: absolute;
        width: 200px;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        border: 1px solid #f20;
        border-top: 0;
        padding: 10px 10px;
        /* transition: 0.5s; */
        letter-spacing: -1px;
    }
    .lnb > li {
        position: relative;
        text-align: center;
    }
    .lnb > li:hover a {
        color: #f00;
    }
    .lnb > li > a {
        display: block;
        line-height: 40px;
    }

/* SNB */
    .snb {
        display: none;
        position: absolute;
        z-index: 99;
        width: 100%;
        top: 10px;
        left: 90%;
        background: #fff;
        border: 1px solid #f20;
        padding: 10px 10px;
        text-align: left;
    }
    .snb > li > a {
        display: block;
        line-height: 40px;
    }

    .gnbView {
        display: none;
    }

/* 브랜드 슬로건 */
    #brands {
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        overflow: hidden;
    }
    #slBrands {
        width: 400%;
        display: flex;
        margin-top: 20px;
    }
    .slogan {
        width: 100%;
        height: 10vh;
        margin: 250px auto;
    }
    .slogan2 {
        margin-top: 130px;
    }
    .slogan > div {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .slogan > div > img {
        display: block;
    }
    .slogan > div > a {
        font-family: 'GmarketSansMedium';
        width: 170px;
        margin-top: 70px; 
        font-size: 18px;
        color: #f20;
        letter-spacing: -2px;
        background: url(../images/redAdvance.png) no-repeat right / contain;
    }
    .slogan:not(.slogan1) > div > a {
        width: 150px;
    }
    #brands > a {
        display: block;
        width: 50px;
        height: 70px;
        position: absolute;
        top: 45%;
    }
    #brands > a.prevSl {
        left: 7%;
        background: url(../images/prev.png) no-repeat center / contain;
    }
    #brands > a.nextSl {
        right: 7%;
        background: url(../images/next.png) no-repeat center / contain;
    }
    #mobileAd {
        display: none;
    }

/* CJ더마켓, Nature to Nature, Nature to Table */
    #cardSlide {
        position: relative;
        width: 100%;
        height: 100vh;
        margin-top: 70px;
        overflow: hidden;
    }
    #cardSlide > ul {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 80px 0 120px;
    }
    .card {
        height: 700px;
    }
    .card > div {
        display: flex;
        margin: 0 105px;
        width: 1000px;
        height: 700px;
        justify-content: space-between;
    }
    .leftCard:first-of-type {
        padding: 200px 0;
    }
    .card:nth-of-type(2) > div > .leftCard, .card:nth-of-type(3) > div > .leftCard {
        padding: 150px 0;
    }
    .leftCard > dl > dt {
        position: relative;
        font-size: 74px;
        letter-spacing: -5px;
    }
    .leftCard > dl > dd {
        font-size: 30px;
        letter-spacing: -3px;
        padding: 20px 0 60px;
        font-weight: 300;
    }
    .card.card:nth-of-type(2) > div > .leftCard > dl > dd, .card.card:nth-of-type(3) > div > .leftCard > dl > dd {
        padding-top: 80px;
    }
    span:last-of-type {
        position: absolute;
        width: 300px;
        top: 60px;
        left: 160px;
    }
    .leftCard > a {
        display: block;
        width: 140px;
        background: url(../images/Advance.png) no-repeat right / contain;
    }
    .rightCard {
        width: 500px;
        height: 700px;
        border-radius: 50px;
        box-shadow: 0 5px 5px #999;
    }
    .card:nth-of-type(1) > div > .rightCard {
        background: url(../images/card_themarket.jpg) no-repeat center / cover;
    }
    .card:nth-of-type(2) > div > .rightCard {
        background: url(../images/card_naturetotable.jpg) no-repeat center / cover;
    }
    .card:nth-of-type(3) > div > .rightCard {
        background: url(../images/card_naturetonature.jpg) no-repeat center / cover;
    }
    #cardSlide > a {
        position: absolute;
        width: 50px;
        height: 70px;
        top: 40%;
    }
    .prevBtn {
        left: 15%;
        background: url(../images/prev.png) no-repeat center / contain;
    }
    .nextBtn {
        right: 15%;
        background: url(../images/next.png) no-repeat center / contain;
    }

/* 글로벌 현황, 연혁 */
    #aboutUs {
        margin-top: 70px;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-flow: column wrap;
    }
    #gbS {
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
        width: 1000px;
        min-height: 40vh;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #gbS > h3 {
        padding-top: 84px;
        font-family: 'GmarketSansMedium';
        color: #f20;
        font-size: 108px;
        font-weight: 100;
        letter-spacing: -5px;
        text-align: center;
        text-transform: uppercase;
    }
    #gbS > p {
        font-size: 24px;
        letter-spacing: -1px;
        font-weight: 300;
    }
    #gbS > a {
        margin-top: 20px;
        display: block;
        font-size: 14px;
        width: 160px;
        background: url(../images/Advance.png) no-repeat center right / contain;
    }
    #history {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 1000px;
        min-height: 60vh;
    }
    #history > h3 {
        position: absolute;
        top: 100px;
        right: 220px;
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
    }
    #hiLeft {
        width: 650px;
        height: 60vh;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .historyImg {
        position: relative;
        width: 600px;
        height: 200px;
    }
    .historyImg img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: absolute;
        top: 0;
    }
    .historyImg img:first-of-type {
        left: 50px;
        z-index: 3;
    }
    .historyImg img:nth-of-type(2) {
        left: 200px;
        z-index: 2;
    }
    .historyImg img:last-of-type {
        left: 350px;
        z-index: 1;
    }
    .historyA {
        width: 60px;
        height: 20px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .historyA > a {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background: #222;
    }
    #hiRight {
        width: 350px;
        height: 60vh;
    }
    #hiRight > ul {
        padding: 17vh 0;
        position: relative;
    }
    #hiRight > ul > li {
        position: absolute;
        top: 150px;
        left: 0;
        width: 350px;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    #history1953 {
        opacity: 1;
    }
    #history1990 {
        opacity: 0;
    }
    #history2010 {
        opacity: 0;
    }
    #hiRight > ul > li > dl {
        width: 350px;
    }
    #hiRight > ul > li > dl > dt {
        font-family: 'GmarketSansMedium';
        font-size: 54px;
    }
    #hiRight > ul > li > dl > dd {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -3px;
    }
    #hiRight > a {
        position: absolute;
        bottom: 170px;
        right: 215px;
        display: block;
        font-size: 14px;
        width: 130px;
        background: url(../images/Advance.png) no-repeat center right / contain;
    }


/* CJ블로썸파크, CJ블로썸캠퍼스, 지속가능경영 */
    #innovation {
        position: relative;
        width: 1420px;
        height: 100vh;
        margin: 70px auto 0;
    }
    .imgWrap {
        width: 550px;
        height: 595px;
        object-fit: cover;
        object-position: center;
        position: absolute;
        cursor: pointer;
        transition: 0.5s ease;
    }
    .imgWrap:nth-of-type(2):hover {
        transform: translateZ(50px) scale(1.04);
    }
    .imgWrap:nth-of-type(1) {
        top: calc(50% - 340px);
        left: 80px; z-index: 5;
    }
    .imgWrap:nth-of-type(2) {
        top: calc(50% - 290px);
        left: 30px; z-index: 4;
    }
    .imgWrap:nth-of-type(3) {
        top: calc(50% - 280px);
        left: 20px; z-index: 3;
    }
    .imgWrap:nth-of-type(4) {
        top: calc(50% - 270px);
        left: 10px; z-index: 2;
    }
    .imgWrap:nth-of-type(5) {
        object-position: right;
        top: calc(50% - 260px);
        left: 0; z-index: 1;
    }
    #innoList {
        position: relative;
        width: 800px;
        float: right;
    }
    .inno {
        position: absolute;
        top: 100px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 800px;
    }
    .inno > p {
        text-align: right;
        font-size: 68px;
        font-weight: 100;
        letter-spacing: -6px;
        margin-top: 100px;
    }
    .inno:nth-child(1) {
        opacity: 1;
    }
    .inno:not(.inno:nth-child(1)) {
        opacity: 0;
    }

    .innoBtn {
        display: flex;
        margin-top: 40px;
    }
    .innoBtn a {
        display: block;
        width: 130px;
        margin: 0 20px;
        text-transform: uppercase;
    }
    .innoBtn:not(#innoList > li:nth-of-type(1) div.innoBtn, #innoList > li:nth-of-type(2) div.innoBtn) a:first-child {
        width: 160px;
    }
    .innoBtn:not(#innoList > li:nth-of-type(1) div.innoBtn, #innoList > li:nth-of-type(2) div.innoBtn) a:last-child {
        width: 150px;
    }
    .innoBtn a:first-child {
        background: url(../images/Advance.png) no-repeat right / contain;
    }
    .innoBtn a:last-child {
        color: #f20;
        background: url(../images/redAdvance.png) no-repeat right / contain;
    }


/* 어사이드 */
    #aside {
        width: 100px;
        height: 400px;
        display: flex;
        
        justify-content: center;
        align-items: end;

        z-index: 99;
        position: absolute;
        top: 30%;
        right: 1%;
        overflow: hidden;
    }
    #conAside {
        position: absolute;
        top: 0;
        left: 5px;
        width: 90px;
        height: 320px;
        background: #fff;
        border-radius: 50px;
        box-shadow: 0 5px 5px #999;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .youtube {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .youtube:nth-of-type(1) {
        background: url(../images/youtube-banner_03.png) no-repeat center / contain;
    }
    .youtube:nth-of-type(2) {
        background: url(../images/channels4_profile.jpg) no-repeat center / contain;
    }
    .youtube:nth-of-type(3) {
        background: url(../images/channels4_profile2.jpg) no-repeat center / contain;
    }
    #btnAside {    
        width: 50px;
        height: 50px;
        display: flex;
        margin-bottom: 15px;
    }
    #btnAside a {
        display: block;
        width: 50px;
        height: 50px;
        box-shadow: 0 5px 5px #999;
        border-radius: 50px;
        
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    #btnAside a.back {
        background: #fff url(../images/back-arrow.png) no-repeat center / 30px;
    }
    #btnAside a.front {
        display: none;
        background: #fff url(../images/front-arrow.png) no-repeat center / 30px;
    }
/* 푸터 */
    #footer {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 500px;
        border-top: 1px solid #000;
    }
    .footer {
        display: flex;
    }
    .link {
        position: absolute;
        top: 50px;
        right: 0;
    }
    .link > li {
        margin-right: 50px;
    }
    .link > li a {
        display: block;
        font-size: 70px;
        font-weight: 300;
        background: url(../images/up-right-arrow.png) no-repeat right / 70px;
    }
    .link > li:nth-child(1) a {
        width: 280px;
    }
    .link > li:nth-child(2) a {
        width: 200px;
    }
    .link > li:nth-child(3) a {
        width: 350px;
    }
    .link > li:nth-child(4) a {
        width: 300px;
    }
    #underWrap {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 50px 50px 50px;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .footer.under > li {
        display: block;
        margin-right: 5px;
    }
    .footer.under > li a::after {
        content: '|';
        font-size: 14px;
        margin: 0 5px;
        display: inline-block;
    }
    .footer.under > li:last-child a::after {
        content: ''
    }
    p.under {
        color: #888;
    }
    small.under {
        font-family: 'GmarketSansMedium';
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
    #unRight {
        width: 400px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }
    .sns {
        width: 220px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sns > a {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: no-repeat center / cover;
    }
    .sns > a:nth-child(1) {
        background-image: url(../images/footer_sns_06.png);
    }
    .sns > a:nth-child(2) {
        background-image: url(../images/footer_sns_05.png);
    } 
    .sns > a:nth-child(3) {
        background-image: url(../images/footer_sns_01.png);
    } 
    .sns > a:nth-child(4) {
        background-image: url(../images/footer_sns_02.png);
    } 

    .cer {
        width: 400px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cer > a {
        height: 40px;
        background: no-repeat center / contain;
    }
    .cer > a:nth-child(1) {
        width: 40px;
        background-image: url(../images/icon_footer_iso27001.png);
    }
    .cer > a:nth-child(2) {
        width: 40px;
        background-image: url(../images/icon_footer_ismsp.png);
    }
    .cer > a:nth-child(3) {
        width: 120px;
        background-image: url(../images/icon_footer_wa.png);
    }
    .cer > a:nth-child(4) {
        width: 120px;
        background-image: url(../images/icon_footer_ccm.jpg);
    }
